/* PROFILE */
.profile{
    color: black;
}

.profile a {
    font-size: 15px;
    color: blue;
}

.profile nav{
    text-align: right;
}

/* INDEX */
.index{
   margin: 10px;
   text-align: center;
   /* background: url('../images/website-background.png'); */
   /* background-size: cover; */
}

img{
    width: 400px;
    border-radius: 5%;
}

.index-text a{
    font-size: 15px;
    margin: 10px;
}