/* SOCIALS */
.social {
  position: fixed;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fa {
  display: block;
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #4286f4;
  color: white;
}

/* INDEX */
.content {
  text-align: center;
  background: url("../images/website-wallpaper2.jpg");
  background-size: 110%;
  
}

#img-me {
  width: 350px;
  border-radius: 5%;
}

#img-me-ny-2{
    width: 332px;
    border-radius: 5%;
}

.index-text a {
  font-size: 15px;
  margin: 10px;
}

#navbars {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#btn-learn-more {
  margin: 10px;
}

ul .active {
  font-weight: bold;
}

#card-index{
    background: rgba(60, 63, 60, 0.15);
    border-radius: 5px;
    margin-bottom: 20px;
}

/* PROFILE */
.container-profile {
  margin: 35px;
  margin-left: 70px;
}
#img-me-new-york {
  width: 500px;
  float: left;
  border-radius: 30px;
}

.container-profile p {
  font-size: 15px;
  margin-left: 10px;
}

.about-me {
  background: rgba(60, 63, 60, 0.25);
  float: right;
  text-align: center;
  width: 800px;
  margin-right: 70px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 10px;
}

.about-me p {
  font-size: 18px;
  color: black;
}

.characteristics {
  background: rgba(60, 63, 60, 0.25);
  float: right;
  text-align: center;
  width: 800px;
  margin-right: 70px;
  border-radius: 50px;
  padding: 10px;
}

/* BLOG */
.all-cards{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

/* DASHBOARD */
.progress{
  width: 1000px;
  margin: auto;
}

/* FAQ */
.faq-cards{
  width: 1200px;
  margin: auto;
}